
*                       @haiksarg

/.github/workflows/     @icy07
/tests/                 @icy07
/pyproject.toml         @icy07
/README.md              @icy07
/.python-version        @icy07

/docs/                  @Sheremgato
/CONTRIBUTING.md        @Sheremgato

/docs/evidence/         @haiksarg
/CODEOWNERS             @haiksarg
